<script setup lang="ts">
import { useI18n } from "vue-i18n";
import Motion from "./utils/motion";
import { useRouter } from "vue-router";
import { message } from "@/utils/message";
import { loginRules } from "./utils/rule";
import { useNav } from "@/layout/hooks/useNav";
import type { FormInstance } from "element-plus";
import { useLayout } from "@/layout/hooks/useLayout";
import { useUserStoreHook } from "@/store/modules/user";
import { initRouter, getTopMenu } from "@/router/utils";
import { bg, illustration } from "./utils/static";
import { ref, toRaw, reactive } from "vue";
import { useRenderIcon } from "@/components/ReIcon/src/hooks";
import { useTranslationLang } from "@/layout/hooks/useTranslationLang";
import { useDataThemeChange } from "@/layout/hooks/useDataThemeChange";

import dayIcon from "@/assets/svg/day.svg?component";
import darkIcon from "@/assets/svg/dark.svg?component";
import globalization from "@/assets/svg/globalization.svg?component";
import Lock from "@iconify-icons/ri/lock-fill";
import Check from "@iconify-icons/ep/check";
import User from "@iconify-icons/ri/user-3-fill";
import { useEventListener } from "@vueuse/core";
import { debounce } from "@pureadmin/utils";
import { v4 as uid } from "uuid";
import { findCaptchaApi, findPublicKeyApi } from "@/api/auth";
import { JSEncrypt } from "jsencrypt";

defineOptions({
  name: "Login"
});

const router = useRouter();
const loading = ref(false);
const ruleFormRef = ref<FormInstance>();

const { t } = useI18n();
const { initStorage } = useLayout();
initStorage();
const { dataTheme, overallStyle, dataThemeChange } = useDataThemeChange();
dataThemeChange(overallStyle.value);
const { title, getDropdownItemStyle, getDropdownItemClass } = useNav();
const { locale, translationCh, translationEn } = useTranslationLang();

const ruleForm = reactive({
  username: "",
  password: "",
  uuid: "",
  captcha: "",
  tenantId: "0"
});

const params = reactive({
  publicKey: "",
  captchaUrl: ""
})

const initCaptcha = () => {
  ruleForm.captcha = ""
  ruleForm.uuid = uid()
  findCaptchaApi(ruleForm.uuid).then(res => {
    params.captchaUrl = res.data
  });
}

const initPublicKey = () => {
  findPublicKeyApi().then(res => {
    params.publicKey = res.data
  });
}

const accountForm = [
  {
    tenant: "老寇云集团",
    username: "admin",
    password: "admin123"
  },
  {
    tenant: "老寇云集团",
    username: "test",
    password: "test123"
  },
  {
    tenant: "老寇云集团",
    username: "laok5",
    password: "test123"
  },
  {
    tenant: "阿里云集团",
    username: "tenant",
    password: "tenant123"
  },
];

const onLogin = async (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  await formEl.validate((valid, fields) => {
    if (valid) {
      loading.value = true;
      const encrypt = new JSEncrypt()
      encrypt.setPublicKey(params.publicKey)
      const username = encodeURIComponent(encrypt.encrypt(ruleForm.username))
      const password = encodeURIComponent(encrypt.encrypt(ruleForm.password))
      const authForm = { grant_type: 'password', username: username, password: password, uuid: ruleForm.uuid, tenant_id: ruleForm.tenantId, captcha: ruleForm.captcha }
      useUserStoreHook().loginByUsername(authForm)
        .then(() => {
          // 获取后端路由
          return initRouter().then(() => {
            router.push(getTopMenu(true).path).then(() => {
                message("登录成功", { type: "success" });
              });
          });
        })
        .catch(() => initCaptcha())
        .finally(() => loading.value = false);
    } else {
      return fields;
    }
  });
};

initCaptcha()
initPublicKey()

const immediateDebounce: any = debounce(
  formRef => onLogin(formRef),
  1000,
  true
);

useEventListener(document, "keypress", ({ code }) => {
  if (code === "Enter" && !loading.value)
    immediateDebounce(ruleFormRef.value);
});
</script>

<template>
  <div class="select-none">
    <img :src="bg" class="wave"  alt="暂无图片"/>
    <div class="flex-c absolute right-5 top-3">
      <!-- 主题 -->
      <el-switch
        v-model="dataTheme"
        inline-prompt
        :active-icon="dayIcon"
        :inactive-icon="darkIcon"
        @change="dataThemeChange"
      />
      <!-- 国际化 -->
      <el-dropdown trigger="click">
        <globalization
          class="hover:text-primary hover:!bg-[transparent] w-[20px] h-[20px] ml-1.5 cursor-pointer outline-none duration-300"
        />
        <template #dropdown>
          <el-dropdown-menu class="translation">
            <el-dropdown-item
              :style="getDropdownItemStyle(locale, 'zh')"
              :class="['dark:!text-white', getDropdownItemClass(locale, 'zh')]"
              @click="translationCh"
            >
              <IconifyIconOffline
                v-show="locale === 'zh'"
                class="check-zh"
                :icon="Check"
              />
              简体中文
            </el-dropdown-item>
            <el-dropdown-item
              :style="getDropdownItemStyle(locale, 'en')"
              :class="['dark:!text-white', getDropdownItemClass(locale, 'en')]"
              @click="translationEn"
            >
              <span v-show="locale === 'en'" class="check-en">
                <IconifyIconOffline :icon="Check" />
              </span>
              English
            </el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
    <div class="login-container">
      <div class="img">
        <component :is="toRaw(illustration)" />
      </div>
      <div class="login-box">
        <div class="login-form">
          <Motion>
            <h2 class="outline-none">{{ title }}</h2>
          </Motion>

          <el-form
            ref="ruleFormRef"
            :model="ruleForm"
            :rules="loginRules"
            size="large"
          >
            <Motion :delay="100">
              <el-form-item
                :rules="[
                  {
                    required: true,
                    message: t('auth.usernameReg'),
                    trigger: 'blur'
                  }
                ]"
                prop="username"
              >
                <el-input
                  autocomplete="new-password"
                  v-model="ruleForm.username"
                  clearable
                  :placeholder="t('auth.username')"
                  :prefix-icon="useRenderIcon(User)"
                />
              </el-form-item>
            </Motion>

            <Motion :delay="150">
              <el-form-item prop="password">
                <el-input
                  autocomplete="new-password"
                  v-model="ruleForm.password"
                  clearable
                  show-password
                  :placeholder="t('auth.password')"
                  :prefix-icon="useRenderIcon(Lock)"
                />
              </el-form-item>
            </Motion>

            <Motion :delay="200">
              <el-row>
                  <el-form-item prop="captcha">
                    <el-col :span="16">
                    <el-input
                      v-model="ruleForm.captcha"
                      clearable
                      :placeholder="t('auth.captcha')"
                      :prefix-icon="useRenderIcon('ri:shield-keyhole-line')">
                    </el-input>
                    </el-col>
                    <el-col :span="8">
                      <img alt="验证码" :src="params.captchaUrl"/>
                    </el-col>
                  </el-form-item>
              </el-row>
            </Motion>

            <Motion :delay="250">
              <el-form-item>
                <el-button
                  class="w-full"
                  size="default"
                  type="primary"
                  :loading="loading"
                  @click="onLogin(ruleFormRef)">
                  {{ t("auth.login") }}
                </el-button>
              </el-form-item>
            </Motion>

            <Motion :delay="300">
              <el-form-item>
                <el-table :data="accountForm" stripe border style="width: 100%">
                  <el-table-column prop="tenant" label="租户" />
                  <el-table-column prop="username" label="账号" />
                  <el-table-column prop="password" label="密码" />
                </el-table>
              </el-form-item>
            </Motion>

          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
@import url("@/style/login.css");
</style>

<style lang="scss" scoped>
:deep(.el-input-group__append, .el-input-group__prepend) {
  padding: 0;
}

.translation {
  ::v-deep(.el-dropdown-menu__item) {
    padding: 5px 40px;
  }

  .check-zh {
    position: absolute;
    left: 20px;
  }

  .check-en {
    position: absolute;
    left: 20px;
  }

}
</style>
